@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafaf9; /* 使用新的 milk-50 */
  color: #3b3025; /* 使用新的 coffee-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 隱藏 Scrollbar 但保持功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
